extends layout

block content
  h1 #{title}
  form(id='form')
    input(type="text" placeholder="New Password" name="password" required)
    input(type="text" placeholder="Retype New Password" name="r_password" required)
    input(type="submit", value="Change Password")
  p(id='message')

  script.
    const $form = $('#form')
    $form.on('submit', submitHandler)

    function submitHandler (e) {
      e.preventDefault();
      $.ajax({
        url: '/auth/reset-password?token=#{token}',
        type:'PUT',
        data: $form.serialize()
      }).done(response => {
        $('#message').text(response.message);
        console.log(response);
      });
    }